<div class="element">
<h2>ar 命令详情</h2>
<article > 
                  <p> 
﻿<strong>ar</strong>                         <br>功能说明：建立或修改备存文件，或是从备存文件中抽取文件。<br>语　　法：<strong>ar</strong>[-dmpqrtx][cfosSuvV][a][b][i][备存文件][成员文件]<br>补充说明：<strong>ar</strong>可让您集合许多文件，成为单一的备存文件。在备存文件中，所有成员文件皆保有原来的属性与权限。<br>参　　数：<br>　指令参数 <br>　-d 　删除备存文件中的成员文件。 <br>　-m 　变更成员文件在备存文件中的次序。 <br>　-p 　显示备存文件中的成员文件内容。 <br>　-q 　将问家附加在备存文件末端。 <br>　-r 　将文件插入备存文件中。 <br>　-t 　显示备存文件中所包含的文件。 <br>　-x 　自备存文件中取出成员文件。 <br>　选项参数 <br>　a 　将文件插入备存文件中指定的成员文件之后。 <br>　b 　将文件插入备存文件中指定的成员文件之前。 <br>　c 　建立备存文件。 <br>　f 　为避免过长的文件名不兼容于其他系统的<strong>ar</strong>指令指令，因此可利用此参数，截掉要放入备存文件中过长的成员文件名称。 <br>　i 　将问家插入备存文件中指定的成员文件之前。 <br>　o 　保留备存文件中文件的日期。 <br>　s 　若备存文件中包含了对象模式，可利用此参数建立备存文件的符号表。 <br>　S 　不产生符号表。 <br>　u 　只将日期较新文件插入备存文件中。 <br>　v 　程序执行时显示详细的信息。 <br>　V 　显示版本信息。<br>
 </p>
                </article>


</div>

<%=render "static_pages/navigation"%>