<div class="element">
<h2>badblocks 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>badblocks</strong>                        
<br>功能说明：检查磁盘装置中损坏的区块。<br>语　　法：<strong>badblocks</strong> [-svw][-b ][-o ][磁盘装置][磁盘区块数][启始区块]<br>补充说明：执行指令时须指定所要检查的磁盘装置，及此装置的磁盘区块数。<br>参　　数：<br>  -b   指定磁盘的区块大小，单位为字节。<br>  -o   将检查的结果写入指定的输出文件。<br>  -s   在检查时显示进度。<br>  -v   执行时显示详细的信息。<br>  -w   在检查时，执行写入测试。<br>  [磁盘装置]   指定要检查的磁盘装置。<br>  [磁盘区块数]   指定磁盘装置的区块总数。<br>  [启始区块]   指定要从哪个区块开始检查。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>