<div class="element">
<h2>bunzip2 命令详情</h2>
               <article > 
                  <p> 
﻿<strong>bunzip2</strong>                         <br>功能说明：.bz2文件的解压缩程序。<br>语　　法：<strong>bunzip2</strong> [-fkLsvV][.bz2压缩文件]<br>补充说明：<strong>bunzip2</strong>可解压缩.bz2格式的压缩文件。<strong>bunzip2</strong>实际上是bzip2的符号连接，执行<strong>bunzip2</strong>与bzip2 -d的效果相同。<br>参　　数：<br>　-f或--force 　解压缩时，若输出的文件与现有文件同名时，预设不会覆盖现有的文件。若要覆盖，请使用此参数。 <br>　-k或--keep 　在解压缩后，预设会删除原来的压缩文件。若要保留压缩文件，请使用此参数。 <br>　-s或--small 　降低程序执行时，内存的使用量。 <br>　-v或--verbose 　解压缩文件时，显示详细的信息。 <br>　-l,--license,-V或--version 　显示版本信息。<br>
 </p>
                </article>


</div>

<%=render "static_pages/navigation"%>