<div class="element">
<h2>bzip2recover 命令详情</h2>
<article > 
                  <p> 
﻿<strong>bzip2recover</strong>                         <br>功能说明：用来修复损坏的.bz2文件。<br>语　　法：<strong>bzip2recover</strong> [.bz2 压缩文件]<br>补充说明：bzip2是以区块的方式来压缩文件，每个区块视为独立的单位。因此，当某一区块损坏时，便可利用<strong>bzip2recover</strong>，试着将文件中的区块隔开来，以便解压缩正常的区块。通常只适用在压缩文件很大的情况。<br>
 </p>
                </article>


</div>

<%=render "static_pages/navigation"%>