<div class="element">
<h2>cd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>cd</strong>                        
<br><strong>cd</strong>(change directory)<br>功能说明：切换目录。<br>语　　法：<strong>cd</strong> [目的目录]<br>补充说明：<strong>cd</strong>指令可让用户在不同的目录间切换，但该用户必须拥有足够的权限进入目的目录。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>