<div class="element">
<h2>cfdisk 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>cfdisk</strong>                        
<br>功能说明：磁盘分区。<br>语　　法：<strong>cfdisk</strong> [-avz][-c -h -s ][-P <r>][外围设备代号]<br>补充说明：<strong>cfdisk</strong>是用来磁盘分区的程序，它十分类似DOS的fdisk，具有互动式操作界面而非传统fdisk的问答式界面，您可以轻易地利用方向键来操控分区操作。<br>参　　数：<br>  -a   在程序里不用反白代表选取，而以箭头表示。<br>  -c   忽略BIOS的数值，直接指定磁盘的柱面数目。<br>  -h   忽略BIOS的数值，直接指定磁盘的磁头数目。<br>  -P<r>   显示分区表的内容，附加参数"r"会显示整个分区表的详细资料，附加参数"s"会依照磁区的顺序显示相关信息，附加参数"t"则会以磁头，磁区，柱面的方式来显示资料。<br>  -s   忽略BIOS的数值，直接指定磁盘的磁区数目。<br>  -v   显示版本信息。<br>  -z   不读取现有的分区，直接当作没有分区的新磁盘使用。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>