<div class="element">
<h2>compress 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>compress</strong>                         <br>功能说明：压缩或解压文件。<br>语　　法：<strong>compress</strong> [-cdfrvV][-b ][文件或目录...]<br>补充说明：<strong>compress</strong>是个历史悠久的压缩程序，文件经它压缩后，其名称后面会多出".Z"的扩展名。当要解压缩时，可执行un<strong>compress</strong>指令。事实上un<strong>compress</strong>是指向<strong>compress</strong>的符号连接，因此不论是压缩或解压缩，都可通过<strong>compress</strong>指令单独完成。<br>参　　数：<br>　-b 　压缩效率是一个介于9－16的数值，预设值为"16"，指定愈大的数值，压缩效率就愈高。 <br>　-c 　把压缩后的文件输出到标准输出设备，不去更动原始文件。 <br>　-d 　对文件进行解压缩而非压缩。 <br>　-f 　强制保存压缩文件，不理会文件名称或硬连接是否存在，该文件是否为符号连接以及压缩效率高低的问题。 <br>　-r 　递归处理，将指定目录下的所有文件及子目录一并处理。 <br>　-v 　显示指令执行过程。 <br>　-V 　显示指令版本及程序预设值。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>