<div class="element">
<h2>df 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>df</strong>                        
<br><strong>df</strong>(disk free)<br>功能说明：显示磁盘的相关信息。<br>语　　法：<strong>df</strong> [-ahHiklmPT][--block-size=][-t ][-x ][--help][--no-sync][--sync][--version][文件或设备]<br>补充说明：<strong>df</strong>可显示磁盘的文件系统与使用情形。<br>参　　数：<br>  -a或--all   包含全部的文件系统。<br>  --block-size=   以指定的区块大小来显示区块数目。<br>  -h或--human-readable   以可读性较高的方式来显示信息。<br>  -H或--si   与-h参数相同，但在计算时是以1000 Bytes为换算单位而非1024 Bytes。<br>  -i或--inodes   显示inode的信息。<br>  -k或--kilobytes   指定区块大小为1024字节。<br>  -l或--local   仅显示本地端的文件系统。<br>  -m或--megabytes   指定区块大小为1048576字节。<br>  --no-sync   在取得磁盘使用信息前，不要执行sync指令，此为预设值。<br>  -P或--portability   使用POSIX的输出格式。<br>  --sync   在取得磁盘使用信息前，先执行sync指令。<br>  -t或--type=   仅显示指定文件系统类型的磁盘信息。<br>  -T或--print-type   显示文件系统的类型。<br>  -x或--exclude-type=   不要显示指定文件系统类型的磁盘信息。<br>  --help   显示帮助。<br>  --version   显示版本信息。<br>  [文件或设备]   指定磁盘设备。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>