<div class="element">
<h2>dump 命令详情</h2>
<article > 
                  <p> 
﻿<strong>dump</strong>                         <br>功能说明：备份文件系统。<br>语　　法：<strong>dump</strong> [-cnu][-0123456789][-b ][-B ][-d ][-f ][-h ][-s ][-T ][目录或文件系统] 或 <strong>dump</strong> [-wW]<br>补充说明：<strong>dump</strong>为备份工具程序，可将目录或整个文件系统备份至指定的设备，或备份成一个大文件。<br>参　　数：<br>　-0123456789 　备份的层级。 <br>　-b 　指定区块的大小，单位为KB。 <br>　-B 　指定备份卷册的区块数目。 <br>　-c 　修改备份磁带预设的密度与容量。 <br>　-d 　设置磁带的密度。单位为BPI。 <br>　-f 　指定备份设备。 <br>　-h 　当备份层级等于或大雨指定的层级时，将不备份用户标示为"no<strong>dump</strong>"的文件。 <br>　-n 　当备份工作需要管理员介入时，向所有"operator"群组中的使用者发出通知。 <br>　-s 　备份磁带的长度，单位为英尺。 <br>　-T 　指定开始备份的时间与日期。 <br>　-u 　备份完毕后，在/etc/<strong>dump</strong>dates中记录备份的文件系统，层级，日期与时间等。 <br>　-w 　与-W类似，但仅显示需要备份的文件。 <br>　-W 　显示需要备份的文件及其最后一次备份的层级，时间与日期。<br>
 </p>

</article>


</div>

<%=render "static_pages/navigation"%>