<div class="element">
<h2>ed 命令详情</h2>
                <article> 
					<p> 
<strong>ed</strong>                         <br><strong>ed</strong>(<strong>ed</strong>itor)<br>功能说明：文本编辑器。<br>语　　法：<strong>ed</strong> [-][-Gs][-p][--help][--version][文件]<br>补充说明：<strong>ed</strong>是Linux中功能最简单的文本编辑程序，一次仅能编辑一行而非全屏幕方式的操作。<br>参　　数：<br>  -G或--traditional   提供回兼容的功能。<br>  -p   指定<strong>ed</strong>在command mode的提示字符。<br>  -s,-,--quiet或--silent   不执行开启文件时的检查功能。<br>  --help   显示帮助。<br>  --version   显示版本信息。 <br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>