<div class="element">
<h2>egrep 命令详情</h2>
                <article> 
					<p> 
<strong>egrep</strong>                         <br>功能说明：在文件内查找指定的字符串。<strong>egrep</strong>执行效果如grep -E，使用的语法及参数可参照grep指令，与grep不同点在于解读字符串的方法，<strong>egrep</strong>是用extended regular expression语法来解读，而grep则用basic regular expression语法，extended regular expression比basic regular expression有更完整的表达规范。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>