<div class="element">
<h2>expr 命令详情</h2>
                <article> 
					<p> 
<strong>expr</strong>                         <br>            　　名称：<strong>expr</strong> <br>              　　<br>              　　### 字串长度 <br>              　　<br>              　　shell&gt;&gt; <strong>expr</strong> length "this is a test" <br>              　　14 <br>              　　<br>              　　### 数字商数 <br>              　　<br>              　　shell&gt;&gt; <strong>expr</strong> 14 % 9 <br>              　　5 <br>              　　<br>              　　### 从位置处抓取字串 <br>              　　<br>              　　shell&gt;&gt; <strong>expr</strong> substr "this is a test" 3 5 <br>              　　is is <br>              　　<br>              　　### 数字串 only the first character <br>              　　<br>              　　shell&gt;&gt; <strong>expr</strong> index "testforthegame" e <br>              　　2 <br>              　　<br>              　　### 字串真实重现 <br>              　　<br>              　　shell&gt;&gt; <strong>expr</strong> quote thisisatestformela <br>              　　thisisatestformela <br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>