<div class="element">
<h2>fgrep 命令详情</h2>
                <article> 
					<p> 
<strong>fgrep</strong>                         <br><strong>fgrep</strong>(fixed regexp)<br>功能说明：查找文件里符合条件的字符串。<br>语　　法：<strong>fgrep</strong> [范本样式][文件或目录...]<br>补充说明：本指令相当于执行grep指令加上参数"-F"，详见grep指令说明。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>