<div class="element">
<h2>ftpcount 命令详情</h2>
                <article> 
					<p> 
<strong>ftpcount</strong>                         <br>功能说明：显示目前以FTP登入的用户人数。<br>语　　法：<strong>ftpcount</strong><br>补充说明：执行这项指令可得知目前用FTP登入系统的人数以及FTP登入人数的上限。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>