<div class="element">
<h2>ftpwho 命令详情</h2>
                <article> 
					<p> 
<strong>ftpwho</strong>                         <br>功能说明：显示目前所有以FTP登入的用户信息。<br>语　　法：<strong>ftpwho</strong><br>补充说明：执行这项指令可得知目前用FTP登入系统的用户有那些人，以及他们正在进行的操作。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>