<div class="element">
<h2>gzexe 命令详情</h2>
  <article > 
                  <p> 
﻿<strong>gzexe</strong>                         <br><strong>gzexe</strong>(gzip executable)<br>功能说明：压缩执行文件。<br>语　　法：<strong>gzexe</strong> [-d][执行文件...]<br>补充说明：<strong>gzexe</strong>是用来压缩执行文件的程序。当您去执行被压缩过的执行文件时，该文件会自动解压然后继续执行，和使用一般的执行文件相同。<br>参　　数：<br>　-d 　解开压缩文件。<br>
 </p>
                </article>




</div>

<%=render "static_pages/navigation"%>