<div class="element">
<h2>hdparm 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>bdparm</strong>                        
<br><strong>hdparm</strong>(hard disk parameters)<br>功能说明：显示与设定硬盘的参数。<br>语　　法：<strong>hdparm</strong> [-CfghiIqtTvyYZ][-a ][-A ][-c <i>][-d ][-k ][-K ][-m ][-n ][-p <pio>][-P ][-r ][-S ][-u ][-W ][-X ][设备]<br>补充说明：<strong>hdparm</strong>可检测，显示与设定IDE或SCSI硬盘的参数。<br>参　　数：<br>  -a   设定读取文件时，预先存入块区的分区数，若不加上选项，则显示目前的设定。<br>  -A   启动或关闭读取文件时的快取功能。<br>  -c<i>   设定IDE32位I/O模式。<br>  -C   检测IDE硬盘的电源管理模式。<br>  -d   设定磁盘的DMA模式。<br>  -f   将内存缓冲区的数据写入硬盘，并清楚缓冲区。<br>  -g   显示硬盘的磁轨，磁头，磁区等参数。<br>  -h   显示帮助。<br>  -i   显示硬盘的硬件规格信息，这些信息是在开机时由硬盘本身所提供。<br>  -I   直接读取硬盘所提供的硬件规格信息。<br>  -k   重设硬盘时，保留-dmu参数的设定。<br>  -K   重设硬盘时，保留-APSWXZ参数的设定。<br>  -m   设定硬盘多重分区存取的分区数。<br>  -n   忽略硬盘写入时所发生的错误。<br>  -p<pio>   设定硬盘的PIO模式。<br>  -P   设定硬盘内部快取的分区数。<br>  -q   在执行后续的参数时，不在屏幕上显示任何信息。<br>  -r   设定硬盘的读写模式。<br>  -S   设定硬盘进入省电模式前的等待时间。<br>  -t   评估硬盘的读取效率。<br>  -T   平谷硬盘快取的读取效率。<br>  -u   在硬盘存取时，允许其他中断要求同时执行。<br>  -v   显示硬盘的相关设定。<br>  -W   设定硬盘的写入快取。<br>  -X   设定硬盘的传输模式。<br>  -y   使IDE硬盘进入省电模式。<br>  -Y   使IDE硬盘进入睡眠模式。<br>  -Z   关闭某些Seagate硬盘的自动省电功能。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>