<%=render "static_pages/element"%>
<ul class="navigation">
	<li><a href="#">全部类别</a></li>
	<li><a href="#">备份压缩</a></li>
	<li><a href="#">磁盘管理</a></li>
	<li><a href="#">磁盘维护</a></li>
	<li><a href="#">设备管理</a></li>
	<li><a href="#">网络通讯</a></li>
	<li><a href="#">文档编辑</a></li>
	<li><a href="#">文件传输</a></li>
	<li><a href="#">文件管理</a></li>
	<li><a href="#">系统管理</a></li>
	<li><a href="#">系统设置</a></li>
</ul>
