<div class="element">
<h2>httpd 命令详情</h2>
                <article> 
					<p> 
﻿<strong>httpd</strong>                         <br>功能说明：Apache HTTP服务器程序。<br>语　　法：<strong>httpd</strong> [-hlLStvVX][-chttpd指令&gt;][-Chttpd指令&gt;][-d][-D][-f]<br>补充说明：<strong>httpd</strong>为Apache HTTP服务器程序。直接执行程序可启动服务器的服务。<br>参　　数：<br>  -chttpd指令&gt;   在读取配置文件前，先执行选项中的指令。<br>  -Chttpd指令&gt;   在读取配置文件后，再执行选项中的指令。<br>  -d   指定服务器的根目录。<br>  -D   指定要传入配置文件的参数。<br>  -f   指定配置文件。<br>  -h   显示帮助。<br>  -l   显示服务器编译时所包含的模块。<br>  -L   显示<strong>httpd</strong>指令的说明。<br>  -S   显示配置文件中的设定。<br>  -t   测试配置文件的语法是否正确。<br>  -v   显示版本信息。<br>  -V   显示版本信息以及建立环境。<br>  -X   以单一程序的方式来启动服务器。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>