<div class="element">
<h2>ifconfig 命令详情</h2>
                <article> 
					<p> 
<strong>ifconfig</strong>                         <br>功能说明：显示或设置网络设备。<br>语　　法：<strong>ifconfig</strong> [网络设备][down up -allmulti -arp -promisc][add][del][<hw>][io_addr<i>][irq<irq>][media][mem_start][metric][mtu][netmask][tunnel][-broadcast][-pointopoint][IP地址]<br>补充说明：<strong>ifconfig</strong>可设置网络设备的状态，或是显示目前的设置。<br>参　　数：<br>  add   设置网络设备IPv6的IP地址。<br>  del   删除网络设备IPv6的IP地址。<br>  down   关闭指定的网络设备。<br>  <hw>   设置网络设备的类型与硬件地址。<br>  io_addr<i>   设置网络设备的I/O地址。<br>  irq<irq>   设置网络设备的IRQ。<br>  media   设置网络设备的媒介类型。<br>  mem_start   设置网络设备在主内存所占用的起始地址。<br>  metric   指定在计算数据包的转送次数时，所要加上的数目。<br>  mtu   设置网络设备的MTU。<br>  netmask   设置网络设备的子网掩码。<br>  tunnel   建立IPv4与IPv6之间的隧道通信地址。<br>  up   启动指定的网络设备。<br>  -broadcast   将要送往指定地址的数据包当成广播数据包来处理。<br>  -pointopoint   与指定地址的网络设备建立直接连线，此模式具有保密功能。<br>  -promisc   关闭或启动指定网络设备的promiscuous模式。<br>  [IP地址]   指定网络设备的IP地址。<br>  [网络设备]   指定网络设备的名称。<br></irq></i></hw></irq></i></hw>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>