<div class="element">
<h2>jed 命令详情</h2>
                <article> 
					<p> 
<strong>jed</strong>                         <br>功能说明：编辑文本文件。<br>语　　法：<strong>jed</strong> [-2n][-batch][-f][-g][-i][-I][-s][文件]<br>补充说明：Jed是以Slang所写成的程序，适合用来编辑程序原始代码。<br>参　　数：<br>  -2   显示上下两个编辑区。<br>  -batch   以批处理模式来执行。<br>  -f   执行Slang函数。<br>  -g   移到缓冲区中指定的行数。<br>  -i   将指定的文件载入缓冲区。<br>  -i   载入Slang原始代码文件。<br>  -n   不要载入<strong>jed</strong>.rc配置文件。<br>  -s   查找并移到指定的字符串。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>