<div class="element">
<h2>joe 命令详情</h2>
                <article> 
					<p> 
<strong>joe</strong>                         <br>功能说明：编辑文本文件。<br>语　　法：<strong>joe</strong> [-asis][-beep][-csmode][-dopadding][-exask][-force][-help][-keepup][-lightoff][-arking][-mid][-nobackups][-nonotice][-nosta][-noxon][-orphan][-backpath][-columns][-lines][-pg][-skiptop][-autoindent crlf linums overwrite rdonly wordwrap][+][-indentc][-istep][-keymap][-lmargin][-rmargin][-tab][要编辑的文件]<br>补充说明：Joe是一个功能强大的全屏幕文本编辑程序。操作的复杂度要比Pico高一点，但是功能较为齐全。Joe一次可开启多个文件，每个文件各放在一个编辑区内，并可在文件之间执行剪贴的动作。<br>参　　数：<br>以下为程序参数<br>  -asis   字符码超过127的字符不做任何处理。<br>  -backpath   指定备份文件的目录。<br>  -beep   编辑时，若有错误即发出哗声。<br>  -columns   设置栏数。<br>  -csmode   可执行连续查找模式。<br>  -dopadding   是程序跟tty间存在缓冲区。<br>  -exask   在程序中，执行"Ctrl+k+x"时，会先确认是否要保存文件。<br>  -force   强制在最后一行的结尾处加上换行符号。<br>  -help   执行程序时一并显示帮助。<br>  -keepup   在进入程序后，画面上方为状态列。<br>  -lightoff   选取的区块在执行完区块命令后，就会回复成原来的状态。<br>  -lines   设置行数。<br>  -marking   在选取区块时，反白区块会随着光标移动。<br>  -mid   当光标移出画面时，即自动卷页，使光标回到中央。<br>  -nobackups   不建立备份文件。<br>  -nonotice   程序执行时，不显示版权信息。<br>  -nosta   程序执行时，不显示状态列。<br>  -noxon   尝试取消“Ctrl+s”与“Ctrl+q”键的功能。<br>  -orphan   若同时开启一个以上的文件，则其他文件会置于独立的缓冲区，而不会另外开启编辑区。<br>  -pg   按“PageUp”或“PageDown”换页时，所要保留前一页的行数。<br>  -skiptop   不使用屏幕上方指定的行数。<br>以下为文件参数<br>  +   指定开启文件时，光标所在的行数。<br>  -autoindent   自动缩排。<br>  -crlf   在换行时，使用CR-LF字符。<br>  -indentc   执行缩排时，实际插入的字符。<br>  -istep   每次执行缩排时，所移动的缩排字符数。<br>  -keymap   使用不同的按键配置文件。<br>  -linums   在每行前面加上行号。<br>  -lmargin   设置左侧边界。<br>  -overwrite   设置覆盖模式。<br>  -rmargin   设置右侧边界。<br>  -tab   设置tab的宽度。<br>  -rdonly   以只读的方式开启文件-wordwrap编辑时若超过右侧边界，则自动换行。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>