<div class="element">
<h2>look 命令详情</h2>
                <article> 
					<p> 
<strong>look</strong>                         <br>功能说明：查询单字。<br>语　　法：<strong>look</strong> [-adf][-t][字首字符串][字典文件]<br>补充说明：<strong>look</strong>指令用于英文单字的查询。您仅需给予它欲查询的字首字符串，它会显示所有开头字符串符合该条件的单字。<br>参　　数：<br>  -a   使用另一个字典文件web2，该文件也位于/usr/dict目录下。<br>  -d   只对比英文字母和数字，其余一慨忽略不予比对。<br>  -f   忽略字符大小写差别。<br>  -t   设置字尾字符串。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>