<div class="element">
<h2>lpq 命令详情</h2>
                <article> 
					<p> 
<strong>lpq</strong>                         <br>            　　名称:<strong>lpq</strong> <br>              　　<strong>lpq</strong> -- 显示列表机贮列中未完成的工作 <br>              　　用法 <br>              　　<strong>lpq</strong> [l] [P] [user] <br>              　　<br>              　　说明 <br>              　　<strong>lpq</strong> 会显示由 lpd 所管理的列表机贮列中未完成的项目。 <br>              　　<br>              　　范例 <br>              　　范例 1. 显示所有在 lp 列表机贮列中的工作 <br>              　　<br>              　　# <strong>lpq</strong> -PlpRank Owner Job Files Total Size1st root 238 (standard <br>              input) 1428646 bytes <br>              　　<br>              　　相关函数 <br>              　　lpr,lpc,lpd<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>