<div class="element">
<h2>lprm 命令详情</h2>
                <article> 
					<p> 
<strong>lprm</strong>                         <br>            　　<strong>lprm</strong> <br>              　　名称 <br>              　　<strong>lprm</strong> -- 将一个工作由打印机贮列中移除 <br>              　　用法 <br>              　　/usr/bin/<strong>lprm</strong> [P] [file...] <br>              　　<br>              　　说明 <br>              　　尚未完成的打印机工作会被放在打印机贮列之中，这个命令可用来将常未送到打印机的工作取消。由于每一个打印机都有一个独立的贮列，你可以用 <br>              -P 这个命令设定想要作用的印列机。如果没有设定的话，会使用系统预设的打印机。 <br>              　　<br>              　　这个命令会检查使用者是否有足够的权限删除指定的档案，一般而言，只有档案的拥有者或是系统管理员才有这个权限。 <br>              　　<br>              　　范例 <br>              　　将打印机 hpprinter 中的第 1123 号工作移除 <br>              　　<br>              　　<strong>lprm</strong> -Phpprinter 1123 <br>              　　<br>              　　将第 1011 号工作由预设打印机中移除<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>
