<div class="element">
<h2>mformat 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mformat</strong>                        
<br>功能说明：对MS-DOS文件系统的磁盘进行格式化。<br>语　　法：<strong>mformat</strong> [-1aCFIKX][-0 ][-2 ][-A ][-B ][-c ][-h ][-H ][-l ][-M ][-n ][-r ][-s ][-S ][-t ][驱动器代号]<br>补充说明：<strong>mformat</strong>为mtools工具指令，模拟MS-DOS的format指令，可将指定的磁盘或硬盘分区格式化为MS-DOS文件系统。<br>参　　数：<br>  -0   指定第0磁轨的数据传输率。<br>  -1   不使用2M格式。<br>  -2   指定在第0磁轨的第0个磁头的磁区数，也就是所谓的2M格式。<br>  -a   指定产生Atari格式的序号。<br>  -A   指定第0磁轨以外所有磁轨的数据传输率。<br>  -B   从指定的文件来建立开机区。<br>  -c   指定丛集大小，单位为磁区。<br>  -C   建立磁盘MS-DOS文件系统的映像文件。<br>  -F   以FAT32来格式化磁盘。<br>  -H   指定隐藏磁区的数目。<br>  -I   指定FAT32的frVersion编号。<br>  -k   尽可能地保留原有的开机区。<br>  -l   指定磁盘标签名称。<br>  -M   指定MS-DOS文件系统所使用的磁区大小，预设应该与硬体磁区大小相同，单位为字节。<br>  -n   指定序号。<br>  -r   指定根目录的大小，单位为磁区。<br>  -s   指定每一磁轨所包含的磁区数目。<br>  -S   指定硬件磁区大小。<br>  -t   指定柱面数目。<br>  -X   格式化XDF磁盘。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>