<div class="element">
<h2>minicom 命令详情</h2>
                <article> 
					<p> 
﻿<strong>minicom</strong>                         <br>功能说明：调制解调器通信程序。<br>语　　法：<strong>minicom</strong> [-8lmMostz][-a<on>][-c<on>][-C][-d][-p][-S<script>][配置文件]<br/>补充说明：<strong>minicom是一个相当受欢迎的PPP拨号连线程序。<br/>参　　数：<br/>&nbsp;&nbsp;-8&nbsp;&nbsp; 不要修改任何8位编码的字符。<br/>&nbsp;&nbsp;-a<on或0ff>&nbsp;&nbsp; 设置终端机属性。<br/>&nbsp;&nbsp;-c<on或off>&nbsp;&nbsp; 设置彩色模式。<br/>&nbsp;&nbsp;-C<取文件>&nbsp;&nbsp; 指定取文件，并在启动时开启取功能。<br/>&nbsp;&nbsp;-d<编号>&nbsp;&nbsp; 启动或直接拨号。<br/>&nbsp;&nbsp;-l&nbsp;&nbsp; 不会将所有的字符都转成ASCII码。<br/>&nbsp;&nbsp;-m&nbsp;&nbsp; 以Alt或Meta键作为指令键。<br/>&nbsp;&nbsp;-M&nbsp;&nbsp; 与-m参数类似。<br/>&nbsp;&nbsp;-o&nbsp;&nbsp; 不要初始化调制解调器。<br/>&nbsp;&nbsp;-p&nbsp;&nbsp; <模拟终端机>&nbsp;&nbsp; 使用模拟终端机。<br/>&nbsp;&nbsp;-s&nbsp;&nbsp; 开启程序设置画面。<br/>&nbsp;&nbsp;-S<script文件>&nbsp;&nbsp; 在启动时，执行指定的script文件。<br/>&nbsp;&nbsp;-t&nbsp;&nbsp; 设置终端机的类型。<br/>&nbsp;&nbsp;-z&nbsp;&nbsp; 在终端机上显示状态列。<br/>&nbsp;&nbsp;[配置文件]&nbsp;&nbsp; 指定<strong>minicom配置文件。<br/>
</script></on></on>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>