<div class="element">
<h2>mkbootdisk 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkbootdisk</strong>                        
<br><strong>mkbootdisk</strong>(make boot disk)<br>功能说明：建立目前系统的启动盘。<br>语　　法：<strong>mkbootdisk</strong> [--noprompt][--verbose][--version][--device ][--mkinitrdargs ][kernel 版本]<br>补充说明：<strong>mkbootdisk</strong>可建立目前系统的启动盘。<br>参　　数：<br>  --device   指定设备。<br>  --mkinitrdargs   设置mkinitrd的参数。<br>  --noprompt   不会提示用户插入磁盘。<br>  --verbose   执行时显示详细的信息。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>