<div class="element">
<h2>mkfs 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkfs</strong>                        
<br><strong>mkfs</strong>(make file system)<br>功能说明：建立各种文件系统。<br>语　　法：<strong>mkfs</strong> [-vV][fs][-f ][设备名称][区块数]<br>补充说明：<strong>mkfs</strong>本身并不执行建立文件系统的工作，而是去调用相关的程序来执行。<br>参　　数：<br>  fs   指定建立文件系统时的参数。<br>  -t   指定要建立何种文件系统。<br>  -v   显示版本信息与详细的使用方法。<br>  -V   显示简要的使用方法。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>