<div class="element">
<h2>mkswap 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkswap</strong>                        
<br>功能说明：设置交换区(swap area)。<br>语　　法：<strong>mkswap</strong> [-cf][-v0][-v1][设备名称或文件][交换区大小]<br>补充说明：<strong>mkswap</strong>可将磁盘分区或文件设为Linux的交换区。<br>参　　数：<br>  -c   建立交换区前，先检查是否有损坏的区块。<br>  -f   在SPARC电脑上建立交换区时，要加上此参数。<br>  -v0   建立旧式交换区，此为预设值。<br>  -v1   建立新式交换区。<br>  [交换区大小]   指定交换区的大小，单位为1024字节。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>