<div class="element">
<h2>mmount 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mmount</strong>                        
<br>功能说明：挂入MS-DOS文件系统。<br>语　　法：<strong>mmount</strong> [驱动器代号][mount参数]<br>补充说明：<strong>mmount</strong>为mtools工具指令，可根据[mount参数]中的设置，将磁盘内容挂入到Linux目录中。<br>参　　数：<br>  [mount参数]的用法请参考mount指令。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>