<div class="element">
<h2>mtype 命令详情</h2>
                <article> 
					<p> 
<strong>mtype</strong>                         <br><strong>mtype</strong><br>功能说明：显示MS-DOS文件的内容。<br>语　　法：<strong>mtype</strong> [-st][文件]<br>补充说明：<strong>mtype</strong>为mtools工具指令，模拟MS-DOS的type指令，可显示MS-DOS文件的内容。<br>参　　数：<br>  -s   去除8位字符码集的第一个位，使它兼容于7位的ASCII。<br>  -t   将MS-DOS文本文件中的“换行+光标移至行首”字符转换成Linux的换行字符。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>