<div class="element">
<h2>pppsetup 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>pppsetup</strong>                         <br>功能说明：设置PPP连线。<br>语　　法：<strong>pppsetup</strong><br>补充说明：这是Slackware发行版内附程序，它具有互动式的问答界面，让用户轻易完成PPP的连线设置。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>