<div class="element">
<h2>rdev 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>rdev</strong>                        
<br>            　　名称： <strong>rdev</strong> <br>              　　使用权限： 所有使用者 <br>              　　使用方式： 使用这个指令的基本方式是： <strong>rdev</strong> [-rsvh ] [-o offset <br>              ] [ image [value [ offset ] ] ] <br>              　　但是随著使用者想要设定的参数的不同，底下的方式也是一样： <br>              　　<br>              　　<br>              　　<strong>rdev</strong> [ -o offset ] [ image [ root_device [ offset ] ] ] <br>              　　swapdev [ -o offset ] [ image [ swap_device [ offset ] ] ] <br>              　　ramsize [ -o offset ] [ image [ size [ offset ] ] ] <br>              　　videomode [ -o offset ] [ image [ mode [ offset ] ] ] <br>              　　rootflags [ -o offset ] [ image [ flags [ offset ] ] ] <br>              　　说明： <strong>rdev</strong> 可以用来取得或是设定开机核心影像档（kernel image）的各项参数，像是： <br>              　　<br>              　　root device <br>              　　swap device <br>              　　RAM disk <br>              　　video mode <br>              　　参数： <br>              　　<br>              　　-r <br>              　　-s <br>              　　-v <br>              　　-h <br>              　　-o <br>              　　范例： uptime <br>              　　其结果为： <br>              　　10:41am up 5 days, 10 min, 1 users, load average: 0.00, 0.00, <br>              1.99 <br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>