<div class="element">
<h2>samba 命令详情</h2>
                <article> 
					<p> 
﻿<strong>samba</strong>                         <br>　<br>功能说明：Samba服务器控制。<br>语　　法：<strong>samba</strong> [start][stop][status][restart]<br>补充说明：<strong>samba</strong>为script文件，可启动，停止Samba服务器或回报目前的状态。<br>参　　数：<br>  start   启动Samba服务器的服务。<br>  stop    停止Samba服务器的服务。<br>  status   显示Samba服务器目前的状态。<br>  restart   重新启动Samba服务器。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>