<div class="element">
<h2>sfdisk 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>sfdisk</strong>                        
<br>功能说明：硬盘恩区工具程序。<br>语　　法：<strong>sfdisk</strong> [-?Tvx][-d ][-g ][-l ][-s ][-V ]<br>补充说明：<strong>sfdisk</strong>为硬盘分区工具程序，可显示分区的设置信息，并检查分区是否正常。<br>参　　数：<br>  -?或--help   显示帮助。<br>  -d   显示硬盘分区的设置。<br>  -g或--show-geometry   显示硬盘的CHS参数。<br>  -l   显示后硬盘分区的相关设置。<br>  -s   显示分区的大小，单位为区块。<br>  -T或--list-types   显示所有<strong>sfdisk</strong>能辨识的文件系统ID。<br>  -v或--version   显示版本信息。<br>  -V或--verify   检查硬盘分区是否正常。<br>  -x或--show-extend   显示扩展分区中的逻辑分区。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>