<div class="element">
<h2>shapecfg 命令详情</h2>
                <article> 
					<p> 
﻿<strong>shapecfg</strong>                         <br><strong>shapecfg</strong>(shaper configuration)<br>功能说明：管制网络设备的流量。<br>语　　法：<strong>shapecfg</strong> attach [流量管制器][网络设备] 或  <strong>shapecfg</strong> speed [流量管制器][带宽]<br>补充说明：自Linux-2.15开始，便支持流量管制的功能。<br>参　　数：<br>  attach   将流量管制器与实际的网络设备结合。<br>  speed   设置流量管制器的对外传输带宽。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>