<div class="element">
<h2>smbclient 命令详情</h2>
                <article> 
					<p> 
﻿<strong>smbclient</strong>                         <br><strong>smbclient</strong>(samba client)<br>功能说明：可存取SMB/CIFS服务器的用户端程序。<br>语　　法：<strong>smbclient</strong> [网络资源][密码][-EhLN][-B<ip>][-d][-i][-I<ip>][-l][-M<netbios>][-n<netbios>][-O][-p<tcp>][-R][-s][-t][-T<tar>][-U][-W]<br>补充说明：SMB与CIFS为服务器通信协议，常用于Windows95/98/NT等系统。<strong>smbclient</strong>可让Linux系统存取Windows系统所分享的资源。<br>参　　数：<br>  [网络资源]  [网络资源]的格式为//服务器名称/资源分享名称。<br>  [密码]   输入存取网络资源所需的密码。<br>  -B<ip>   传送广播数据包时所用的IP地址。<br>  -d   指定记录文件所记载事件的详细程度。<br>  -E   将信息送到标准错误输出设备。<br>  -h   显示帮助。<br>  -i   设置NetBIOS名称范围。<br>  -I<ip>   指定服务器的IP地址。<br>  -l   指定记录文件的名称。<br>  -L   显示服务器端所分享出来的所有资源。<br>  -M<netbios>   可利用WinPopup协议，将信息送给选项中所指定的主机。<br>  -n<netbios>   指定用户端所要使用的NetBIOS名称。<br>  -N   不用询问密码。<br>  -O   设置用户端TCP连接槽的选项。<br>  -p<tcp>   指定服务器端TCP连接端口编号。<br>  -R   设置NetBIOS名称解析的顺序。<br>  -s   指定smb.conf所在的目录。<br>  -t   设置用何种字符码来解析服务器端的文件名称。<br>  -T<tar>   备份服务器端分享的全部文件，并打包成tar格式的文件。<br>  -U   指定用户名称。<br>  -W   指定工作群组名称。<br></tar></tcp></netbios></netbios></ip></ip></tar></tcp></netbios></netbios></ip></ip>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>