<div class="element">
<h2>smbd 命令详情</h2>
                <article> 
					<p> 
﻿<strong>smbd</strong>                         <br><strong>smbd</strong>(samba daemon)<br>功能说明：Samba服务器程序。<br>语　　法：<strong>smbd</strong> [-aDhoP][-d][-i][-l][-O][-p][-s]<br>补充说明：<strong>smbd</strong>为Samba服务器程序，可分享文件与打印机等网络资源供Windows相关的用户端程序存取。<br>参　　数：<br>  -a   所有的连线记录都会加到记录文件中。<br>  -d   指定记录文件所记载事件的详细程度。<br>  -D   使用此参数时，<strong>smbd</strong>会以服务程序的方式在后台执行。<br>  -h   显示帮助。<br>  -i   指定NetBIOS名称的范围。<br>  -l   指定记录文件的名称。<br>  -o   每次启动时，会覆盖原有的记录文件。<br>  -O   设置连接槽选项。<br>  -p   设置连接端口编号。<br>  -P   仅用来测试<strong>smbd</strong>程序的正确性。<br>  -s   指定<strong>smbd</strong>的设置文件。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>