<div class="element">
<h2>talk 命令详情</h2>
                <article> 
					<p> 
﻿<strong>talk</strong>                         <br>功能说明：与其他用户交谈。<br>语　　法：<strong>talk</strong> [用户名称][终端机编号]<br>补充说明：通过<strong>talk</strong>指令，你可以和另一个用户线上交谈。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>