<div class="element">
<h2>tcpdump 命令详情</h2>
                <article> 
					<p> 
﻿<strong>tcpdump</strong>                         <br>功能说明：倾倒网络传输数据。<br>语　　法：<strong>tcpdump</strong> [-adeflnNOpqStvx][-c][-dd][-ddd][-F][-i][-r][-s][-tt][-T][-vv][-w][输出数据栏位]<br>补充说明：执行<strong>tcpdump</strong>指令可列出经过指定网络界面的数据包文件头，在Linux操作系统中，你必须是系统管理员。<br>参　　数：<br>  -a   尝试将网络和广播地址转换成名称。<br>  -c   收到指定的数据包数目后，就停止进行倾倒操作。<br>  -d   把编译过的数据包编码转换成可阅读的格式，并倾倒到标准输出。<br>  -dd   把编译过的数据包编码转换成C语言的格式，并倾倒到标准输出。<br>  -ddd   把编译过的数据包编码转换成十进制数字的格式，并倾倒到标准输出。<br>  -e   在每列倾倒资料上显示连接层级的文件头。<br>  -f   用数字显示网际网络地址。<br>  -F   指定内含表达方式的文件。<br>  -i   使用指定的网络截面送出数据包。<br>  -l   使用标准输出列的缓冲区。<br>  -n   不把主机的网络地址转换成名字。<br>  -N   不列出域名。<br>  -O   不将数据包编码最佳化。<br>  -p   不让网络界面进入混杂模式。<br>  -q   快速输出，仅列出少数的传输协议信息。<br>  -r   从指定的文件读取数据包数据。<br>  -s   设置每个数据包的大小。<br>  -S   用绝对而非相对数值列出TCP关联数。<br>  -t   在每列倾倒资料上不显示时间戳记。<br>  -tt   在每列倾倒资料上显示未经格式化的时间戳记。<br>  -T   强制将表达方式所指定的数据包转译成设置的数据包类型。<br>  -v   详细显示指令执行过程。<br>  -vv   更详细显示指令执行过程。<br>  -x   用十六进制字码列出数据包资料。<br>  -w   把数据包数据写入指定的文件。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>