<div class="element">
<h2>telnet 命令详情</h2>
                <article> 
					<p> 
﻿<strong>telnet</strong>                         <br>功能说明：远端登入。<br>语　　法：<strong>telnet</strong> [-8acdEfFKLrx][-b][-e][-k][-l][-n][-S][-X][主机名称或IP地址]<br>补充说明：执行<strong>telnet</strong>指令开启终端机阶段作业，并登入远端主机。<br>参　　数：<br>  -8   允许使用8位字符资料，包括输入与输出。<br>  -a   尝试自动登入远端系统。<br>  -b   使用别名指定远端主机名称。<br>  -c   不读取用户专属目录里的.<strong>telnet</strong>rc文件。<br>  -d   启动排错模式。<br>  -e   设置脱离字符。<br>  -E   滤除脱离字符。<br>  -f   此参数的效果和指定"-F"参数相同。<br>  -F   使用Kerberos V5认证时，加上此参数可把本地主机的认证数据上传到远端主机。<br>  -k   使用Kerberos认证时，加上此参数让远端主机采用指定的领域名，而非该主机的域名。<br>  -K   不自动登入远端主机。<br>  -l   指定要登入远端主机的用户名称。<br>  -L   允许输出8位字符资料。<br>  -n   指定文件记录相关信息。<br>  -r   使用类似rlogin指令的用户界面。<br>  -S   设置<strong>telnet</strong>连线所需的IP TOS信息。<br>  -x   假设主机有支持数据加密的功能，就使用它。<br>  -X   关闭指定的认证形态。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>