<div class="element">
<h2>testparm 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>testparm</strong>                         <br><strong>testparm</strong>(test parameter)<br>功能说明：测试Samba的设置是否正确无误。<br>语　　法：<strong>testparm</strong> [-s][配置文件][<ip>]<br>补充说明：执行<strong>testparm</strong>指令可以简单测试Samba的配置文件，假如测试结果无误，Samba常驻服务就能正确载入该设置值，但并不保证其后的操作如预期般一切正常。<br>参　　数：<br>  -s   不显示提示符号等待用户按下Enter键，就直接列出Samba服务定义信息。<br></ip>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>