<div class="element">
<h2>unarj 命令详情</h2>
 <article > 
                  <p> 
﻿<strong>unarj</strong>                         <br>功能说明：解压缩.arj文件。<br>语　　法：<strong>unarj</strong> [eltx][.arj压缩文件]<br>补充说明：<strong>unarj</strong>为.arj压缩文件的压缩程序。<br>参　　数：<br>  e   解压缩.arj文件。<br>  l   显示压缩文件内所包含的文件。<br>  t   检查压缩文件是否正确。<br>  x   解压缩时保留原有的路径。<br>
 </p>
                </article>



</div>

<%=render "static_pages/navigation"%>