<div class="element">
<h2>uucp 命令详情</h2>
                <article> 
					<p> 
<strong>uucp</strong>                         <br>功能说明：在Unix系统之间传送文件。<br>语　　法：<strong>uucp</strong> [-cCdfjmrRtvW][-g][-I][-n][-x][--help][...来源][目的]<br>补充说明：UUCP为Unix系统之间，通过序列线来连线的协议。<strong>uucp</strong>使用UUCP协议，主要的功能为传送文件。<br>参　　数：<br>  -c或--nocopy   不用将文件复制到缓冲区。<br>  -C或--copy   将文件复制到缓冲区。<br>  -d或--directiories   在传送文件时，自动在[目的]建立必要的目录。<br>  -f或--nodirectiories   在传送文件时，若需要在[目的]建立目录，则放弃执行该作业。<br>  -g或--grade   指定文件传送作业的优先顺序。<br>  -I或--config   指定<strong>uucp</strong>配置文件。<br>  -j或--jobid   显示作业编号。<br>  -m或--mail   作业结束后，以电子邮件报告作业是否顺利完成。<br>  -n或--notify   作业结束后，以电子邮件向指定的用户报告作业是否顺利完成。<br>  -r或--nouucico   不要立即启动uucico服务程序，仅将作业送到队列中，待稍后再执行。<br>  -R或--recursive   若[来源]为目录，则将整个目录包含子目录复制到[目的]。<br>  -t或--uuto   将最后一个参数视为"主机名!用户"。<br>  -v或--version   显示版本信息。<br>  -W或--noexpand   不要将目前所在的目录加入路径。<br>  -x或--debug启动指定的排错模式。<br>  --help   显示帮助。<br>  [源...]   指定源文件或路径。<br>  [目的]   指定目标文件或路径。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>