<div class="element">
<h2>uudecode 命令详情</h2>
 <article > 
                  <p> 
﻿<strong>uudecode</strong>                         <br>            　　名称：<strong>uudecode</strong> <br>              　　<br>              　　使用权限：所有使用者 <br>              　　<br>              　　使用方式：uuencode [-hv] [file1 ...] <br>              　　<br>              　　说明： <br>              　　<br>              　　<strong>uudecode</strong> 将 uuencode 编码后的档案还原， <strong>uudecode</strong> 只会将 begin 与 end 标记之间的编码资料还原，程序会跳过标记以外的资料。 <br>              　　<br>              　　 begin 644 file1.txt <br>              　　15&amp;AIend <br>              　　这里的文字不会被解码。 <br>              　　<br>              　　参数： <br>              　　h 列出指令使用格式 (help) <br>              　　v 列出版本讯息 <br>              　　<br>              　　范例： <br>              　　<br>              　　将 file.uud 还原，而还原后的档名储存在 file.uud 档中。 <br>              　　<br>              　　 uuencode file.uud <br>              　　<br>              　　可以一起还原好几个档案。 <br>              　　<br>              　　 uuencode file1.uud file2.uud <br>
 </p>
                </article>





</div>

<%=render "static_pages/navigation"%>