<div class="element">
<h2>uuname 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>uuname</strong>                         <br>功能说明：显示全部的UUCP远端主机。<br>语　　法：<strong>uuname</strong> [-alv][-I][--help]<br>补充说明：<strong>uuname</strong>可显示UUCP远端主机。<br>参　　数：<br>  -a或--aliases   显示别名。<br>  -I或--config   指定程序的配置文件。<br>  -l或--local   显示本机名称。<br>  -v或--version   显示版本信息。<br>  --help   显示帮助。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>