<div class="element">
<h2>uuto 命令详情</h2>
                <article> 
					<p> 
<strong>uuto</strong>                         <br>功能说明：将文件传送到远端的UUCP主机。<br>语　　法：<strong>uuto</strong> [文件][目的]<br>补充说明：<strong>uuto</strong>为script文件，它实际上会执行uucp，用来将文件传送到远端UUCP主机，并在完成工作后，以邮件通知远端主机上的用户。<br>参　　数：<br>  相关参数请参考uucp指令。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>