<div class="element">
<h2>ytalk 命令详情</h2>
                <article> 
					<p> 
<strong>ytalk</strong>                         <br>　<br>功能说明：与其他用户交谈。<br>语　　法：<strong>ytalk</strong> [-isxY][-h][用户名称...]<br>补充说明：通过<strong>ytalk</strong>指令，你可以和其他用户线上交谈，如果想和其他主机的用户交谈，在用户名称后加上其主机名称或IP地址即可。<br>参　　数：<br>  -h   指定交谈对象所在的远端主机。<br>  -i   用提醒声响代替显示信息。<br>  -s   在指令提示符号先开启<strong>ytalk</strong>交谈窗。<br>  -x   关闭图形界面。
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>