<div class="element">
<h2>zip 命令详情</h2>
<article > 
                  <p> 
﻿<strong>zip</strong>                         <br>功能说明：压缩文件。<br>语　　法：<strong>zip</strong> [-AcdDfFghjJKlLmoqrSTuvVwXyz$][-b ][-ll][-n ][-t ][-][压缩文件][文件...][-i ][-x ]<br>补充说明：<strong>zip</strong>是个使用广泛的压缩程序，文件经它压缩后会另外产生具有".<strong>zip</strong>"扩展名的压缩文件。<br>参　　数：<br>  -A   调整可执行的自动解压缩文件。<br>  -b   指定暂时存放文件的目录。<br>  -c   替每个被压缩的文件加上注释。<br>  -d   从压缩文件内删除指定的文件。<br>  -D   压缩文件内不建立目录名称。<br>  -f   此参数的效果和指定"-u"参数类似，但不仅更新既有文件，如果某些文件原本不存在于压缩文件内，使用本参数会一并将其加入压缩文件中。<br>  -F   尝试修复已损坏的压缩文件。<br>  -g   将文件压缩后附加在既有的压缩文件之后，而非另行建立新的压缩文件。<br>  -h   在线帮助。<br>  -i   只压缩符合条件的文件。<br>  -j   只保存文件名称及其内容，而不存放任何目录名称。<br>  -J   删除压缩文件前面不必要的数据。<br>  -k   使用MS-DOS兼容格式的文件名称。<br>  -l   压缩文件时，把LF字符置换成LF+CR字符。<br>  -ll   压缩文件时，把LF+CR字符置换成LF字符。<br>  -L   显示版权信息。<br>  -m   将文件压缩并加入压缩文件后，删除原始文件，即把文件移到压缩文件中。<br>  -n   不压缩具有特定字尾字符串的文件。<br>  -o   以压缩文件内拥有最新更改时间的文件为准，将压缩文件的更改时间设成和该文件相同。<br>  -q   不显示指令执行过程。<br>  -r   递归处理，将指定目录下的所有文件和子目录一并处理。<br>  -S   包含系统和隐藏文件。<br>  -t   把压缩文件的日期设成指定的日期。<br>  -T   检查备份文件内的每个文件是否正确无误。<br>  -u   更换较新的文件到压缩文件内。<br>  -v   显示指令执行过程或显示版本信息。<br>  -V   保存VMS操作系统的文件属性。<br>  -w   在文件名称里假如版本编号，本参数仅在VMS操作系统下有效。<br>  -x   压缩时排除符合条件的文件。<br>  -X   不保存额外的文件属性。<br>  -y   直接保存符号连接，而非该连接所指向的文件，本参数仅在UNIX之类的系统下有效。<br>  -z   替压缩文件加上注释。<br>  -$   保存第一个被压缩文件所在磁盘的卷册名称。<br>  -   压缩效率是一个介于1-9的数值。<br>
 </p>
                </article>



</div>

<%=render "static_pages/navigation"%>