<div class="element">
<h2>arpwatch 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>arpwatch</strong>                         <br><strong>arpwatch</strong>(ARP watcher)<br>功能说明：监听网络上ARP的记录。<br>语　　法：<strong>arpwatch</strong> [-d][-f][-i][-r]<br>补充说明：ARP(Address Resolution Protocol)是用来解析IP与网络装置硬件地址的协议。<strong>arpwatch</strong>可监听区域网络中的ARP数据包并记录，同时将监听到的变化通过E-mail来报告。<br>参　　数：<br>  -d   启动排错模式。<br>  -f   设置存储ARP记录的文件，预设为/var/<strong>arpwatch</strong>/arp.dat。<br>  -i   指定监听ARP的接口，预设的接口为eth0。<br>  -r   从指定的文件中读取ARP记录，而不是从网络上监听。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>