<div class="element">
<h2>cu 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>cu</strong>                         <br><strong>cu</strong>(call up)<br>功能说明：连接另一个系统主机。<br>语　　法：<strong>cu</strong> [dehnotv][-a][-c][-E][-I][-l][-s][-x][-z][--help][-nostop][--parity=none][/]<br>补充说明：本指令可连接另一台主机，并采用类似拨号终端机的接口工作，也可执行简易的文件传输作业。<br>参　　数：<br>  -a或-p或--port   使用指定的通信端口进行连线。<br>  -c或--phone   拨打该电话号码。<br>  -d   进入排错模式。<br>  -e或--parity=even   使用双同位检查。<br>  -E或--escape   设置脱离字符。<br>  -h或--halfduple   使用半双工模式。<br>  -I或--config   指定要使用的配置文件。<br>  -l或--line   指定某项外围设备，作为连接的设备。<br>  -n或--prompt   拨号时等待用户输入电话号码。<br>  -o或--parity=odd   使用单同位检查。<br>  -s或--speed或--baud或-   设置连线的速率，单位以鲍率计算。<br>  -t或--maper   把CR字符置换成LF+CR字符。<br>  -v或--version   显示版本信息。<br>  -x或--debug   使用排错模式。<br>  -z或--system   连接该系统主机。<br>  --help   在线帮助。<br>  --nostop   关闭Xon/Xoff软件流量控制。<br>  --parity=none   不使用同位检查。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>