<div class="element">
<h2>dnsconf 命令详情</h2>
                <article> 
					<p> 
﻿<strong>dnsconf</strong>                         <br>功能说明：设置DNS服务器组态。<br>语　　法：<strong>dnsconf</strong> [--deldomain][--delsecondary][--newdomain][--set<ip>][--setcname<cname>][--setmx][--setns][--unset]<br>补充说明：<strong>dnsconf</strong>实际上为linuxconf的符号连接，提供图形截面的操作方式，供管理员管理DNS服务器。<br>参　　数：<br>  --deldomain   删除域。<br>  --delsecondary   删除次级域。<br>  --newdomain   新增域。<br>  --set<ip>   新增主机记录。<br>  --setcname<cname>   设置<cname>。<br>  --setmx   指定域的邮件主机。<br>  --setns   指定域的DNS服务器。<br>  --unset   删除DNS中某台主机的记录。<br></cname></cname></ip></cname></ip>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>