<div class="element">
<h2>efax 命令详情</h2>
                <article> 
					<p> 
﻿<strong>efax</strong>                         <br>功能说明：收发传真。<br>语　　法：<strong>efax</strong> [-sw][-a<at>][-c][-d][-f][-g][-h][-i<at>][-j<at>][-k<at>][-l][-o][-q][-r][-v][-x<uucp>][-t]<br>补充说明：支持Class 1与Class 2的调制解调器来收发传真。<br>参　　数：<br>  -a<at>   以指定的AT指令来接电话。<br>  -c   设置本机调制解调器的属性。<br>  -d   指定调制解调器驱动程序。<br>  -f   使用指定的字体文件来建立传真标题。<br>  -g   若接到的电话为数据，则执行指定的指令。<br>  -h   指定字符串为每页最前端的标题。<br>  -i<at>   在调制解调器进入传真模式前，传送AT指令到调制解调器。<br>  -j<at>   在调制解调器进入传真模式后，传送AT指令到调制解调器。<br>  -k<at>   在调制解调器离开传真模式前，传送AT指令到调制解调器。<br>  -l   设置本机调制解调器的识别码。<br>  -o   使用非标准调制解调器时设置相关选项。<br>  -q   接收传真时，当每页发生错误次数超过指定的数目时，要求对方重发。<br>  -r   在接收传真时，将每页分别保存成文件。<br>  -v   选择要印出的信息类型。<br>  -w   不要接听电话，等待OK或CONNECT的信号。<br>  -x<uucp>   使用UUCP格式的锁定文件来锁定调制解调器。<br>  -t   以中的号码来拨号，并将传真出去。<br></uucp></at></at></at></at></uucp></at></at></at></at>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>