<div class="element">
<h2>mesg 命令详情</h2>
                <article> 
					<p> 
﻿<strong>mesg</strong>                         <br>功能说明：设置终端机的写入权限。<br>语　　法：<strong>mesg</strong> [ny]<br>补充说明：将<strong>mesg</strong>设置y时，其他用户可利用write指令将信息直接显示在您的屏幕上。<br>参　　数：<br>  n   不允许气筒用户将信息直接显示在你的屏幕上。<br>  y   允许气筒用户将信息直接显示在你的屏幕上。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>