<div class="element">
<h2>mingetty 命令详情</h2>
                <article> 
					<p> 
﻿<strong>mingetty</strong>                         <br>功能说明：精简版的getty。<br>语　　法：<strong>mingetty</strong> [--long-hostname][--noclear][tty]<br>补充说明：<strong>mingetty</strong>适用于本机上的登入程序。<br>参　　数：<br>  --long-hostname   显示完整的主机名称。<br>  --noclear   在询问登入的用户名称之前不要清楚屏幕画面。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>