<div class="element">
<h2>nc 命令详情</h2>
                <article> 
					<p> 
﻿<strong>nc</strong>                         <br>功能说明：设置路由器。<br>语　　法：<strong>nc</strong> [-hlnruz][-g][-G][-i][-o][-p][-s][-v...][-w][主机名称][通信端口...]<br>补充说明：执行本指令可设置路由器的相关参数。<br>参　　数：<br>  -g   设置路由器跃程通信网关，最丢哦可设置8个。<br>  -G   设置来源路由指向器，其数值为4的倍数。<br>  -h   在线帮助。<br>  -i   设置时间间隔，以便传送信息及扫描通信端口。<br>  -l   使用监听模式，管控传入的资料。<br>  -n   直接使用IP地址，而不通过域名服务器。<br>  -o   指定文件名称，把往来传输的数据以16进制字码倾倒成该文件保存。<br>  -p   设置本地主机使用的通信端口。<br>  -r   乱数指定本地与远端主机的通信端口。<br>  -s   设置本地主机送出数据包的IP地址。<br>  -u   使用UDP传输协议。<br>  -v   显示指令执行过程。<br>  -w   设置等待连线的时间。<br>  -z   使用0输入/输出模式，只在扫描通信端口时使用。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>