<div class="element">
<h2>ping 命令详情</h2>
                <article> 
					<p> 
﻿<strong>ping</strong>                         <br>功能说明：检测主机。<br>语　　法：<strong>ping</strong> [-dfnqrRv][-c][-i][-I][-l][-p][-s][-t][主机名称或IP地址]<br>补充说明：执行<strong>ping</strong>指令会使用ICMP传输协议，发出要求回应的信息，若远端主机的网络功能没有问题，就会回应该信息，因而得知该主机运作正常。<br>参　　数：<br>  -d   使用Socket的SO_DEBUG功能。<br>  -c   设置完成要求回应的次数。<br>  -f   极限检测。<br>  -i   指定收发信息的间隔时间。<br>  -I   使用指定的网络界面送出数据包。<br>  -l   设置在送出要求信息之前，先行发出的数据包。<br>  -n   只输出数值。<br>  -p   设置填满数据包的范本样式。<br>  -q   不显示指令执行过程，开头和结尾的相关信息除外。<br>  -r   忽略普通的Routing Table，直接将数据包送到远端主机上。<br>  -R   记录路由过程。<br>  -s   设置数据包的大小。<br>  -t   设置存活数值TTL的大小。<br>  -v   详细显示指令的执行过程。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>