<div class="element">
<h2>ppp-off 命令详情</h2>
                <article> 
					<p> 
﻿<strong>ppp-off</strong>                         <br>功能说明：关闭ppp连线。<br>语　　法：ppp-of<br>补充说明：这是Slackware发行版内附的程序，让用户切断PPP的网络连线。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>