<div class="element">
<h2>setserial 命令详情</h2>
                <article> 
					<p> 
﻿<strong>setserial</strong>                         <br>功能说明：设置或显示串口的相关信息。<br>语　　法：<strong>setserial</strong> [-abgGqvVz][设备][串口参数]<br>补充说明：<strong>setserial</strong>可用来设置串口或显示目前的设置。<br>参　　数：<br>  -a   显示详细信息。<br>  -b   显示摘要信息。<br>  -g   显示串口的相关信息。<br>  -G   以指令列表的格式来显示信息。<br>  -q   执行时显示较少的信息。<br>  -v   执行时显示较多的信息。<br>  -V   显示版本信息。<br>  -z   设置前，先将所有的标记归零。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>