<div class="element">
<h2>statserial 命令详情</h2>
                <article> 
					<p> 
﻿<strong>statserial</strong>                         <br><strong>statserial</strong>(status ofserial port)<br>功能说明：显示串口状态。<br>语　　法：<strong>statserial</strong> [-dnx][串口设备名称]<br>补充说明：<strong>statserial</strong>可显示各个接脚的状态，常用来判断串口是否正常。<br>参　　数：<br>  -d   以10进制数字来表示串口的状态。<br>  -n   仅显示一次串口的状态后即结束程序。<br>  -x   与-n参数类似，但是以16进制来表示。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>