<div class="element">
<h2>traceroute 命令详情</h2>
                <article> 
					<p> 
﻿<strong>traceroute</strong>                         <br>功能说明：显示数据包到主机间的路径。<br>语　　法：<strong>traceroute</strong> [-dFlnrvx][-f][-g...][-i][-m][-p][-s][-t][-w][主机名称或IP地址][数据包大小]<br>补充说明：<strong>traceroute</strong>指令让你追踪网络数据包的路由途径，预设数据包大小是40Bytes，用户可另行设置。<br>参　　数：<br>  -d   使用Socket层级的排错功能。<br>  -f   设置第一个检测数据包的存活数值TTL的大小。<br>  -F   设置勿离断位。<br>  -g   设置来源路由网关，最多可设置8个。<br>  -i   使用指定的网络界面送出数据包。<br>  -I   使用ICMP回应取代UDP资料信息。<br>  -m   设置检测数据包的最大存活数值TTL的大小。<br>  -n   直接使用IP地址而非主机名称。<br>  -p   设置UDP传输协议的通信端口。<br>  -r   忽略普通的Routing Table，直接将数据包送到远端主机上。<br>  -s   设置本地主机送出数据包的IP地址。<br>  -t   设置检测数据包的TOS数值。<br>  -v   详细显示指令的执行过程。<br>  -w   设置等待远端主机回报的时间。<br>  -x   开启或关闭数据包的正确性检验。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>