<div class="element">
<h2>tty 命令详情</h2>
                <article> 
					<p> 
﻿<strong>tty</strong>                         <br><strong>tty</strong>(teletypewriter)<br>功能说明：显示终端机连接标准输入设备的文件名称。<br>语　　法：<strong>tty</strong> [-s][--help][--version]<br>补充说明：在Linux操作系统中，所有外围设备都有其名称与代号，这些名称代号以特殊文件的类型存放于/dev目录下。你可以执行<strong>tty</strong>指令查询目前使用的终端机的文件名称。<br>参　　数：<br>  -s或--silent或--quiet   不显示任何信息，只回传状态代码。<br>  --help   在线帮助。<br>  --version   显示版本信息。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>