<div class="element">
<h2>uulog 命令详情</h2>
                <article> 
					<p> 
﻿<strong>uulog</strong>                         <br>功能说明：显示UUCP记录文件。<br>语　　法：<strong>uulog</strong> [-DFISv][-][-f][-I][-n][-s][-u][-X][--help]<br>补充说明：<strong>uulog</strong>可用来显示UUCP记录文件中记录。<br>参　　数：<br>  -D或--debuglog   显示排错记录。<br>  -f或--follow   与-F参数类似，但仅显示与指定主机相关的记录。<br>  -I或--config   指定程序的配置文件。<br>  -,-n或--lines   显示记录文件中，从最后算起指定行数的数值。<br>  -s   仅显示记录文件中，与指定文件相关的记录。<br>  -S或--statslog   显示统计记录。<br>  -u或--suer   仅显示记录文件中，与指定用户相关的记录。<br>  -v或--version   显示版本信息。<br>  -X或--debug   设定排错层级。<br>  --help   显示帮助。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>