<div class="element">
<h2>uux 命令详情</h2>
                <article> 
					<p> 
﻿<strong>uux</strong>                         <br>功能说明：在远端的UUCP主机上执行指令。<br>语　　法：<strong>uux</strong> [-bcCIjlnrvz][-a][-g][-s][-x][--help][指令]<br>补充说明：<strong>uux</strong>可在远端的UUCP主机上执行指令或是执行本机上的指令，但在执行时会使用远端电脑的文件。<br>参　　数：<br>  -或-p或--stdin   直接从键盘读取要执行的指令。<br>  -a或--requestor   执行邮件地址，以便寄送状态信息。<br>  -b或--erturn-stdin   在屏幕上显示状态信息。<br>  -c或--nocopy   不用将文件复制到缓冲区。<br>  -C或--copy   将文件复制到缓冲区。<br>  -g或--grade   指定文件传送作业的优先顺序。<br>  -I或--config file   指定<strong>uux</strong>配置文件。<br>  -j或--jobid   显示作业编号。<br>  -l或--link   将本机上的文件连接到缓冲区。<br>  -n或--notification=no   无论发生任何状态，都不寄邮件通知用户。<br>  -r或--nouucico   不要立即启动uucico服务程序，仅将作业送到队列中，然后再执行。<br>  -s或--status   将完成状态保存为指定的文件。<br>  -v或--version   显示版本信息。<br>  -x或--debug   指定排错层级。<br>  -z或--notification=error   若发生错误，则以邮件来通知用户。<br>  --help   显示帮助。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>