<div class="element">
<h2>wall 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>wall</strong>                         <br><strong>wall</strong>(write all)<br>功能说明：传送信息。<br>语　　法：<strong>wall</strong> [公告信息]<br>补充说明：通过<strong>wall</strong>指令可将信息发送给每位同意接收公众信息的终端机用户，若不给予其信息内容，则<strong>wall</strong>指令会从标准输入设备读取数据，然后再把所得到的数据传送给所有终端机用户。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>