<div class="element">
<h2>write 命令详情</h2>
                <article> 
                  <p> 
﻿<strong>write</strong>                         <br>功能说明：传送信息。<br>语　　法：<strong>write</strong> [用户名称][终端机编号]<br>补充说明：通过<strong>write</strong>指令可传递信息给另一位登入系统的用户，当输入完毕后，键入EOF表示信息结束，<strong>write</strong>指令就会将信息传给对方。如果接收信息的用户不只登入本地主机一次，你可以指定接收信息的终端机编号。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>