<div class="element">
<h2>colrm 命令详情</h2>
                <article> 
					<p> 
<strong>colrm</strong>                         <br><strong>colrm</strong>(column remove)<br>功能说明：滤掉指定的行。<br>语　　法：<strong>colrm</strong> [开始行数编号]<br>补充说明：<strong>colrm</strong>指令从标准输入设备读取书记，转而输出到标准输出设备。如果不加任何参数，则该指令不会过滤任何一行。 <br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>