<div class="element">
<h2>ex 命令详情</h2>
                <article> 
					<p> 
<strong>ex</strong>                         <br>功能说明：在Ex模式下启动vim文本编辑器。<strong>ex</strong>执行效果如同vi -E，使用语法及参数可参照vi指令，如要从Ex模式回到普通模式，则在vim中输入:vi或:visual即可。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>