<div class="element">
<h2>fmt 命令详情</h2>
                <article> 
					<p> 
<strong>fmt</strong>                         <br><strong>fmt</strong>(fromat)<br>功能说明：编排文本文件。<br>语　　法：<strong>fmt</strong> [-cstu][-p][-w][--help][--version][文件...]<br>补充说明：<strong>fmt</strong>指令会从指定的文件里读取内容，将其依照指定格式重新编排后，输出到标准输出设备。若指定的文件名为"-"，则<strong>fmt</strong>指令会从标准输入设备读取数据。<br>参　　数：<br>  -c或--crown-margin   每段前两列缩排。<br>  -p或-prefix=   仅合并含有指定字符串的列，通常运用在程序语言的注解方面。<br>  -s或--split-only   只拆开字数超出每列字符数的列，但不合并字数不足每列字符数的列。<br>  -t或--tagged-paragraph   每列前两列缩排，但第1列和第2列的缩排格式不同。<br>  -u或--uniform-spacing   每个字符之间都以一个空格字符间隔，每个句子之间则两个空格字符分隔。<br>  -w或--width=或-   设置每列的最大字符数。<br>  --help   在线帮助。<br>  --version   显示版本信息。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>