<div class="element">
<h2>pico 命令详情</h2>
                <article> 
					<p> 
<strong>pico</strong>                         <br>功能说明：编辑文字文件。<br>语　　法：<strong>pico</strong> [-bdefghjkmqtvwxz][-n][-o][-r][-s][+][文件]<br>补充说明：<strong>pico</strong>是个简单易用、以显示导向为主的文字编辑程序，它伴随着处理电子邮件和新闻组的程序pine而来。<br>参　　数：<br>  -b   开启置换的功能。<br>  -d   开启删除的功能。<br>  -e   使用完整的文件名称。<br>  -f   支持键盘上的F1、F2...等功能键。<br>  -g   显示光标。<br>  -h   在线帮助。<br>  -j   开启切换的功能。<br>  -k   预设<strong>pico</strong>在使用剪下命令时，会把光标所在的列的内容全部删除。<br>  -m   开启鼠标支持的功能，您可用鼠标点选命令列表。<br>  -n      设置多久检查一次新邮件。<br>  -o      设置工作目录。<br>  -q   忽略预设值。<br>  -r      设置编辑文件的页宽。<br>  -s      另外指定拼字检查器。<br>  -t   启动工具模式。<br>  -v   启动阅读模式，用户只能观看，无法编辑文件的内容。<br>  -w   关闭自动换行，通过这个参数可以编辑内容很长的列。<br>  -x   关闭换面下方的命令列表。<br>  -z   让<strong>pico</strong>可被Ctrl+z中断，暂存在后台作业里。<br>  +   执行<strong>pico</strong>指令进入编辑模式时，从指定的列数开始编辑。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>