<div class="element">
<h2>sed 命令详情</h2>
                <article> 
					<p> 
<strong>sed</strong>                         <br><strong>sed</strong>(stream editor)<br>功能说明：利用script来处理文本文件。<br>语　　法：<strong>sed</strong> [-hnV][-e<script>][-f<script文件>][文本文件]<br/>补充说明：<strong>sed可依照script的指令，来处理、编辑文本文件。<br/>参　　数：<br/>&nbsp;&nbsp;-e<script>或--expression=<script>&nbsp;&nbsp; 以选项中指定的script来处理输入的文本文件。<br/>&nbsp;&nbsp;-f<script文件>或--file=<script文件>&nbsp;&nbsp;以选项中指定的script文件来处理输入的文本文件。<br/>&nbsp;&nbsp;-h或--help&nbsp;&nbsp; 显示帮助。<br/>&nbsp;&nbsp;-n或--quiet或--silent&nbsp;&nbsp; 仅显示script处理后的结果。<br/>&nbsp;&nbsp;-V或--version&nbsp;&nbsp; 显示版本信息。<br/>
</script>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>