<div class="element">
<h2>spell 命令详情</h2>
                <article> 
					<p> 
<strong>spell</strong>                         <br>功能说明：拼字检查程序。<br>语　　法：<strong>spell</strong><br>补充说明：<strong>spell</strong>可从标准输入设备读取字符串，结束后显示拼错的词汇。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>