<div class="element">
<h2>tr 命令详情</h2>
                <article> 
					<p> 
<strong>tr</strong>                         <br><strong>tr</strong>(<strong>tr</strong>anslate character)<br><strong>tr</strong>(<strong>tr</strong>anslate character)<br>功能说明：转换字符。<br>语　　法：<strong>tr</strong> [-cdst][--help][--version][第一字符集][第二字符集]<br>补充说明：<strong>tr</strong>指令从标准输入设备读取数据，经过字符串转译后，输出到标准输出设备。<br>参　　数：<br>  -c或--complerment   取代所有不属于第一字符集的字符。<br>  -d或--delete   删除所有属于第一字符集的字符。<br>  -s或--squeeze-repeats   把连续重复的字符以单独一个字符表示。<br>  -t或--<strong>tr</strong>uncate-set1   先删除第一字符集较第二字符集多出的字符。<br>  --help   在线帮助。<br>  --version   显示版本信息。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>