<div class="element">
<h2>uniq 命令详情</h2>
                <article> 
					<p> 
<strong>uniq</strong>                         <br>功能说明：检查及删除文本文件中重复出现的行列。<br>语　　法：<strong>uniq</strong> [-cdu][-f][-s][-w][--help][--version][输入文件][输出文件]<br>补充说明：<strong>uniq</strong>可检查文本文件中重复出现的行列。<br>参　　数：<br>  -c或--count   在每列旁边显示该行重复出现的次数。<br>  -d或--repeated   仅显示重复出现的行列。<br>  -f或--skip-fields=   忽略比较指定的栏位。<br>  -s或--skip-chars=   忽略比较指定的字符。<br>  -u或--<strong>uniq</strong>ue   仅显示出一次的行列。<br>  -w或--check-chars=   指定要比较的字符。<br>  --help   显示帮助。<br>  --version   显示版本信息。<br>  [输入文件]   指定已排序好的文本文件。<br>  [输出文件]   指定输出的文件。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>