<div class="element">
<h2>wc 命令详情</h2>
                <article> 
					<p> 
<strong>wc</strong>                         <br><strong>wc</strong>(word count)<br>功能说明：计算字数。<br>语　　法：<strong>wc</strong> [-clw][--help][--version][文件...]<br>补充说明：利用<strong>wc</strong>指令我们可以计算文件的Byte数、字数、或是列数，若不指定文件名称、或是所给予的文件名为“-”，则<strong>wc</strong>指令会从标准输入设备读取数据。<br>参　　数：<br>  -c或--bytes或--chars   只显示Bytes数。<br>  -l或--lines   只显示列数。<br>  -w或--words   只显示字数。<br>  --help   在线帮助。<br>  --version   显示版本信息。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>