<div class="element">
<h2>bye 命令详情</h2>
                <article> 
					<p> 
<strong>bye</strong><br>  功能说明：中断FTP连线并结束程序。<br>  语　　法：<strong>bye</strong><br>补充说明：<br>  在ftp模式下，输入<strong>bye</strong>即可中断目前的连线作业，并结束ftp的执行。    <br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>