<div class="element">
<h2>ftp 命令详情</h2>
                <article> 
					<p> 
<strong>ftp</strong>                         <br><strong>ftp</strong>(file transfer protocol)<br>功能说明：设置文件系统相关功能。<br>语　　法：<strong>ftp</strong> [-dignv][主机名称或IP地址]<br>补充说明：FTP是ARPANet的标准文件传输协议，该网络就是现今Internet的前身。<br>参　　数：<br>  -d   详细显示指令执行过程，便于排错或分析程序执行的情形。<br>  -i   关闭互动模式，不询问任何问题。<br>  -g   关闭本地主机文件名称支持特殊字符的扩充特性。<br>  -n   不使用自动登陆。<br>  -v   显示指令执行过程。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>