<div class="element">
<h2>lpr 命令详情</h2>
                <article> 
					<p> 
<strong>lpr</strong>                         <br>            　　名称： <strong>lpr</strong> <br>              　　<br>              　　使用权限： 所有使用者 <br>              　　<br>              　　使用方式：<strong>lpr</strong> [ -P printer ] <br>              　　将档案或是由标准输入送进来的资料送到打印机贮列之中，打印机管理程序 lpd 会在稍后将这个档案送给适当的程序或装置处理。<strong>lpr</strong> <br>              可以用来将料资送给本地或是远端的主机来处理。 <br>              　　<br>              　　参数： <br>              　　<br>              　　-p Printer: 将资料送至指定的打印机 Printer，预设值为 lp。 <br>              　　<br>              　　范例： <br>              　　将 www.c 和 kkk.c 送到打印机 lp。 <br>              　　 <strong>lpr</strong> -Plp www.c kkk.c <br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>