<div class="element">
<h2>ncftp 命令详情</h2>
                <article> 
					<p> 
<strong>ncftp</strong>                         <br><strong>ncftp</strong>(nc file transfer protocol)<br>功能说明：传输文件。<br>语　　法：<strong>ncftp</strong> [主机或IP地址]<br>补充说明：FTP让用户得以下载存放于服务器主机的文件，也能将文件上传到远端主机放置。NcFTP是文字模式FTP程序的佼佼者，它具备多样特色， 包括显示传输速率，下载进度，自动续传，标住书签，可通过防火墙和代理服务器等。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>