<div class="element">
<h2>tftp 命令详情</h2>
                <article> 
					<p> 
<strong>tftp</strong>                         <br><strong>tftp</strong>(trivial file transfer protocol)<br>功能说明：传输文件。<br>语　　法：<strong>tftp</strong> [主机名称或IP地址]<br>补充说明：FTP让用户得以下载存放于远端主机的文件，也能将文件上传到远端主机放置。<strong>tftp</strong>是简单的文字模式ftp程序，它所使用的指令和FTP类似。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>