<div class="element">
<h2>uupick 命令详情</h2>
                <article> 
					<p> 
<strong>uupick</strong>                         <br>功能说明：处理传送进来的文件。<br>语　　法：<strong>uupick</strong> [-v][-I][-s][-x][--help]<br>补充说明：当其他主机通过UUCP将文件传送进来时，可利用<strong>uupick</strong>指令取出这些文件。<br>参　　数：<br>  -I或--config   指定配置文件。<br>  -s或--system   处理由指定主机传送过来的文件。<br>  -v或--version   显示版本信息。<br>  --help   显示帮助。<br>
 </p>
                </article>
</div>

<%=render "static_pages/navigation"%>