<div class="element">
<h2>dd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>dd</strong>                        
<br>功能说明：读取，转换并输出数据。<br>语　　法：<strong>dd</strong> [bs=][cbs=][conv=][count=][ibs=][if=][obs=][of=][seek=][skip=][--help][--version]<br>补充说明：<strong>dd</strong>可从标准输入或文件读取数据，依指定的格式来转换数据，再输出到文件，设备或标准输出。<br>参　　数：<br>  bs=   将ibs( 输入)与obs(输出)设成指定的字节数。<br>  cbs=   转换时，每次只转换指定的字节数。<br>  conv=   指定文件转换的方式。<br>  count=   仅读取指定的区块数。<br>  ibs=   每次读取的字节数。<br>  if=   从文件读取。<br>  obs=   每次输出的字节数。<br>  of=   输出到文件。<br>  seek=   一开始输出时，跳过指定的区块数。<br>  skip=   一开始读取时，跳过指定的区块数。<br>  --help   帮助。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>