<div class="element">
<h2>dirs 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>dirs</strong>                        
<br>功能说明：显示目录记录。<br>语　　法：<strong>dirs</strong> [+/-n -l]<br>补充说明：显示目录堆叠中的记录。<br>参　　数：<br>  +n   显示从左边算起第n笔的目录。<br>  -n   显示从右边算起第n笔的目录。<br>  -l   显示目录完整的记录。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>