<div class="element">
<h2>edquota 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>edquota</strong>                        
<br><strong>edquota</strong>(edit quota)<br>功能说明：编辑用户或群组的quota。<br>语　　法：<strong>edquota</strong> [-p ][-ug][用户或群组名称...] 或 <strong>edquota</strong> [-ug] -t<br>补充说明：<strong>edquota</strong>预设会使用vi来编辑使用者或群组的quota设置。<br>参　　数：<br>  -u   设置用户的quota，这是预设的参数。<br>  -g   设置群组的quota。<br>  -p   将源用户的quota设置套用至其他用户或群组。<br>  -t   设置宽限期限。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>