<div class="element">
<h2>fdisk 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>fdisk</strong>                        
<br>功能说明：磁盘分区。<br>语　　法：<strong>fdisk</strong> [-b ][-uv][外围设备代号] 或 <strong>fdisk</strong> [-l][-b ][-uv][外围设备代号...] 或 <strong>fdisk</strong> [-s ]<br>补充说明：<strong>fdisk</strong>是用来磁盘分区的程序，它采用传统的问答式界面，而非类似DOS <strong>fdisk</strong>的c<strong>fdisk</strong>互动式操作界面，因此在使用上较为不便，但功能却丝毫不打折扣。<br>参　　数：<br>  -b   指定每个分区的大小。<br>  -l   列出指定的外围设备的分区表状况。<br>  -s   将指定的分区大小输出到标准输出上，单位为区块。<br>  -u   搭配"-l"参数列表，会用分区数目取代柱面数目，来表示每个分区的起始地址。<br>  -v   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>