<div class="element">
<h2>fsck.minix 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>fsck.minix</strong>                        
<br><strong>fsck.minix</strong>(file system check-minix filesystem)<br>功能说明：检查文件系统并尝试修复错误。<br>语　　法：<strong>fsck.minix</strong> [-aflmrsv][外围设备代号]<br>补充说明：当minix文件系统发生错误时，可用<strong>fsck.minix</strong>指令尝试加以参考。<br>参　　数：<br>  -a   自动修复文件系统，不询问任何问题。<br>  -f   强制对该文件系统进行完整检查，纵然该文件系统在慨略检查下没有问题。<br>  -l   列出所有文件名称。<br>  -m   使用类似MINIX操作系统的警告信息。<br>  -r   采用互动模式，在执行修复时询问问题，让用户得以确认并决定处理方式。<br>  -s   显示该分区第一个磁区的相关信息。<br>  -v   显示指令执行过程。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>