<div class="element">
<h2>fsconf 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>fsconf</strong>                        
<br><strong>fsconf</strong>(file system configurator)<br>功能说明：设置文件系统相关功能。<br>语　　法：<strong>fsconf</strong> [--check]<br>补充说明：<strong>fsconf</strong>是Red Hat Linux发行版专门用来调整Linux各项设置的程序。<br>参　　数：<br>  --chedk   检查特定文件的权限。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>