<div class="element">
<h2>loadkeys 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>loadkeys</strong>                        
<br>            　　名称: <strong>loadkeys</strong> <br>              　　使用权限: 所有使用者 <br>              　　使用方式: <br>              　　<strong>loadkeys</strong> [ -d --default ] [ -h --help ] [ -q --quiet ] [ -v --verbose <br>              [ -v --verbose ]...] [ -m --mktable ] [ -c --clearcompose ] [ -s <br>              --clearstrings ] [ filename... ] <br>              　　使用说明: <br>              　　这个命令可以根据一个键盘定义表改变 linux 键盘驱动程序转译键盘输入过程。详细的说明请参考 dumpkeys。 <br>              　　<br>              　　选项: <br>              　　-v --verbose <br>              　　印出详细的资料，你可以重复以增加详细度。 <br>              　　<br>              　　-q --quiet <br>              　　不要显示任何讯息。 <br>              　　-c --clearcompose <br>              　　清除所有 composite 定义。 <br>              　　<br>              　　-s --clearstrings <br>              　　将定串定义表清除。 <br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>