<div class="element">
<h2>losetup 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>losetup</strong>                        
<br><strong>losetup</strong>(loop setup)<br>功能说明：设置循环设备。<br>语　　法：<strong>losetup</strong> [-d][-e ][-o ][循环设备代号][文件]<br>补充说明：循环设备可把文件虚拟成区块设备，籍以模拟整个文件系统，让用户得以将其视为硬盘驱动器，光驱或软驱等设备，并挂入当作目录来使用。<br>参　　数：<br>  -d   卸除设备。<br>  -e   启动加密编码。<br>  -o   设置数据平移的数目。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>