<div class="element">
<h2>ls 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>ls</strong>                        
<br>功能说明：列出目录内容。<br>语　　法：<strong>ls</strong> [-1aAbBcCdDfFgGhHiklLmnNopqQrRsStuUvxX][-I ][-T ][-w ][--block-size=][--color=][--format=][--full-time][--help][--indicator-style=][--quoting-style=][--show-control-chars][--sort=][--time=][--version][文件或目录...]<br>补充说明：执行<strong>ls</strong>指令可列出目录的内容，包括文件和子目录的名称。<br>参　　数：<br>  -1   每列仅显示一个文件或目录名称。<br>  -a或--all   下所有文件和目录。<br>  -A或--almost-all   显示所有文件和目录，但不显示现行目录和上层目录。<br>  -b或--escape   显示脱离字符。<br>  -B或--ignore-backups   忽略备份文件和目录。<br>  -c   以更改时间排序，显示文件和目录。<br>  -C   以又上至下，从左到右的直行方式显示文件和目录名称。<br>  -d或--directory   显示目录名称而非其内容。<br>  -D或--dired   用Emacs的模式产生文件和目录列表。<br>  -f   此参数的效果和同时指定"aU"参数相同，并关闭"<strong>ls</strong>t"参数的效果。<br>  -F或--classify   在执行文件，目录，Socket，符号连接，管道名称后面，各自加上"*","/","=","@","|"号。<br>  -g   次参数将忽略不予处理。<br>  -G或--no-group   不显示群组名称。<br>  -h或--human-readable   用"K","M","G"来显示文件和目录的大小。<br>  -H或--si   此参数的效果和指定"-h"参数类似，但计算单位是1000Bytes而非1024Bytes。<br>  -i或--inode   显示文件和目录的inode编号。<br>  -I或--ignore=   不显示符合范本样式的文件或目录名称。<br>  -k或--kilobytes   此参数的效果和指定"block-size=1024"参数相同。<br>  -l   使用详细格式列表。<br>  -L或--dereference   如遇到性质为符号连接的文件或目录，直接列出该连接所指向的原始文件或目录。<br>  -m   用","号区隔每个文件和目录的名称。<br>  -n或--numeric-uid-gid   以用户识别码和群组识别码替代其名称。<br>  -N或--literal   直接列出文件和目录名称，包括控制字符。<br>  -o   此参数的效果和指定"-l" 参数类似，但不列出群组名称或识别码。<br>  -p或--file-type   此参数的效果和指定"-F"参数类似，但不会在执行文件名称后面加上"*"号。<br>  -q或--hide-control-chars   用"?"号取代控制字符，列出文件和目录名称。<br>  -Q或--quote-name   把文件和目录名称以""号标示起来。<br>  -r或--reverse   反向排序。<br>  -R或--recursive   递归处理，将指定目录下的所有文件及子目录一并处理。<br>  -s或--size   显示文件和目录的大小，以区块为单位。<br>  -S   用文件和目录的大小排序。<br>  -t   用文件和目录的更改时间排序。<br>  -T或--tabsize=   设置跳格字符所对应的空白字符数。<br>  -u   以最后存取时间排序，显示文件和目录。<br>  -U   列出文件和目录名称时不予排序。<br>  -v   文件和目录的名称列表以版本进行排序。<br>  -w或--width=   设置每列的最大字符数。<br>  -x   以从左到右，由上至下的横列方式显示文件和目录名称。<br>  -X   以文件和目录的最后一个扩展名排序。<br>  --block-size=   指定存放文件的区块大小。<br>  --color=   培植文件和目录的列表格式。<br>  --full-time   列出完整的日期与时间。<br>  --help   在线帮助。<br>  --indicator-style=   在文件和目录等名称后面加上标注，易于辨识该名称所属的类型。<br>  --quoting-syte=   把文件和目录名称以指定的引号样式标示起来。<br>  --show-control-chars   在文件和目录列表时，使用控制字符。<br>  --sort=   配置文件和目录列表的排序方式。<br>  --time=   用指定的时间戳记取代更改时间。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>