<div class="element">
<h2>MAKEDEV 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>MAKEDEV</strong>                        
<br>            　　名称: <strong>MAKEDEV</strong> <br>              　　使用方法: <br>              　　<strong>MAKEDEV</strong> -V <br>              　　<strong>MAKEDEV</strong> [ -n ] [ -v ] update <br>              　　<strong>MAKEDEV</strong> [ -n ] [ -v ] [ -d ] device ... <br>              　　使用说明: <br>              　　这个命令可以用法新增 /dev/ 下的装置档案，多数 distribution 已经将所有的档案都产生，故一般而言不太会需要用到这个命令。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>