<div class="element">
<h2>mbadblocks 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mbadblocks</strong>                        
<br>功能说明：检查MS-DOS文件系统的磁盘是否有损坏的磁区。<br>语　　法：<strong>mbadblocks</strong> [驱动器代号]<br>补充说明：<strong>mbadblocks</strong>为mtools工具指令，可用来扫描MS-DOS文件系统的磁盘驱动器，并标示出损坏的磁区。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>