<div class="element">
<h2>mcd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mcd</strong>                        
<br>功能说明：在MS-DOS文件系统中切换工作目录<br>语　　法：<strong>mcd</strong> [目录名称]<br>补充说明：<strong>mcd</strong>为mtools工具指令，可在MS-DOS文件系统中切换工作目录。若不加任何参数，则显示目前所在的磁盘与工作目录。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>