<div class="element">
<h2>mdeltree 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mdeltree</strong>                        
<br>功能说明：删除MS-DOS目录<br>语　　法：<strong>mdeltree</strong> [目录...]<br>补充说明：mdel为mtools工具指令，模拟MS-DOS的deltree指令，可删除MS-DOS文件系统中的目录及目录下所有子目录与文件。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>