<div class="element">
<h2>mdu 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mdu</strong>                        
<br>功能说明：显示MS-DOS目录所占用的磁盘空间。<br>语　　法：<strong>mdu</strong> [-as][目录]<br>补充说明：<strong>mdu</strong>为mstools工具指令，可显示MS-DOS文件系统中目录所占用的磁盘空间。<br>参　　数：<br>  -a   显示每个文件及整个目录所占用的空间。<br>  -s   仅显示整个目录所占用的空间。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>