<div class="element">
<h2>mkdir 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkdir</strong>                        
<br>功能说明：建立目录<br>语　　法：<strong>mkdir</strong> [-p][--help][--version][-m ][目录名称]<br>补充说明：<strong>mkdir</strong>可建立目录并同时设置目录的权限。<br>参　　数：<br>  -m或--mode   建立目录时同时设置目录的权限。<br>  -p或--parents   若所要建立目录的上层目录目前尚未建立，则会一并建立上层目录。<br>  --help   显示帮助。<br>  --verbose   执行时显示详细的信息。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>