<div class="element">
<h2>mkdosfs 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkdosfs</strong>                        
<br><strong>mkdosfs</strong>(make Dos file system)<br>功能说明：建立MS-DOS文件系统。<br>语　　法：<strong>mkdosfs</strong> [-cv][-f <fat>][-F <fat>][-i ][-l ][-m ][-n ][-r ][-s ][设备名称][区块数]<br>补充说明：<strong>mkdosfs</strong>可在Linux下，将磁盘格式化为MS-DOS文件系统的格式。<br>参　　数：<br>  -c   检查是否有损坏的区块。<br>  -f<fat>   指定FAT的数目，目前支持1与2两种选项。<br>  -F<fat>   指定FAT记录的单位为12或16位。<br>  -i   设置文件系统的磁盘序号。<br>  -l   从指定的文件中，读取文件系统中损坏区块的信息。<br>  -m   若以次文件系统开机，而却因操作系统没有正常安装，则会显示选项中所指定的信息文件内容。<br>  -n   设置文件系统的磁盘标签名称。<br>  -r   设置根目录最多能记载项目数。<br>  -s   指定每个丛集所包含的磁区数。<br>  -v   执行时显示详细的信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>