<div class="element">
<h2>mke2fs 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mke2fs</strong>                        
<br><strong>mke2fs</strong>(make ext2 file system)<br>功能说明：建立ext2文件系统。<br>语　　法：<strong>mke2fs</strong> [-cFMqrSvV][-b ][-f ][-i ][-N <inode>][-l ][-L ][-m ][-R=][ 设备名称][区块数]<br>补充说明：<strong>mke2fs</strong>可建立Linux的ext2文件系统。<br>参　　数：<br>  -b   指定区块大小，单位为字节。<br>  -c   检查是否有损坏的区块。<br>  -f   指定不连续区段的大小，单位为字节。<br>  -F   不管指定的设备为何，强制执行<strong>mke2fs</strong>。<br>  -i   指定"字节/inode"的比例。<br>  -N<inode>   指定要建立的inode数目。<br>  -l   从指定的文件中，读取文件西中损坏区块的信息。<br>  -L   设置文件系统的标签名称。<br>  -m   指定给管理员保留区块的比例，预设为5%。<br>  -M   记录最后一次挂入的目录。<br>  -q   执行时不显示任何信息。<br>  -r   指定要建立的ext2文件系统版本。<br>  -R=   设置磁盘阵列参数。<br>  -S   仅写入superblock与group descriptors，而不更改inode able inode bitmap以及block bitmap。<br>  -v   执行时显示详细信息。<br>  -V   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>