<div class="element">
<h2>mkfs.minix 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkfs.minix</strong>                        
<br>功能说明：建立Minix文件系统。<br>语　　法：<strong>mkfs.minix</strong> [-cv][-i <inode>][-l ][-n ][设备名称][区块数]<br>补充说明：<strong>mkfs.minix</strong>可建立Minix文件系统。<br>参　　数：<br>  -c   检查是否有损坏的区块。<br>  -i<inode>   指定文件系统的inode总数。<br>  -l   从指定的文件中，读取文件系统中损坏区块的信息。<br>  -n   指定文件名称长度的上限。<br>  -v   建立第2版的Minix文件系统。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>