<div class="element">
<h2>mkfs.ext2 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkfs.ext2</strong>                        
<br>功能说明：与mke2fs相同。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>