<div class="element">
<h2>mkinitrd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mkinitrd</strong>                        
<br><strong>mkinitrd</strong>(make initial ramdisk images)<br>功能说明：建立要载入ramdisk的映像文件。<br>语　　法：<strong>mkinitrd</strong> [-fv][--omit-scsi-modules][--version][--preload=][--with=][映像文件][Kernel 版本]<br>补充说明：<strong>mkinitrd</strong>可建立映像文件，以供Linux开机时载入ramdisk。<br>参　　数：<br>  -f   若指定的映像问家名称与现有文件重复，则覆盖现有的文件。<br>　-v　　执行时显示详细的信息。<br>  --omit-scsi-modules   不要载入SCSI模块。<br>  --preload=   指定要载入的模块。<br>  --with=   指定要载入的模块。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>