<div class="element">
<h2>mlabel 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mlabel</strong>                        
<br>功能说明：显示或设置MS-DOS磁盘驱动器的标签名称。<br>语　　法：<strong>mlabel</strong> [-csvV][驱动器代号][标签名称]<br>补充说明：<strong>mlabel</strong>为mtools工具指令，模拟MS-DOS的label指令，可显示或设置MS-DOS磁盘驱动器的标签名称。<br>参　　数：<br>  -c   清楚标签名称<br>  -s   显示标签名称<br>  -v   执行时显示详细的信息。<br>  -V   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>