<div class="element">
<h2>mmd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mmd</strong>                        
<br>功能说明：在MS-DOS文件系统中建立目录。<br>语　　法：<strong>mmd</strong> [目录...]<br>补充说明：<strong>mmd</strong>为mtools工具指令，模拟MS-DOS的md指令，可在MS-DOS的文件系统中建立目录。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>