<div class="element">
<h2>mrd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>mrd</strong>                        
<br>功能说明：删除MS-DOS文件系统中的目录。<br>语　　法：<strong>mrd</strong> [目录...]<br>补充说明：<strong>mrd</strong>为mtools工具指令，模拟MS-DOS的rd指令，可删除MS-DOS的目录。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>