<div class="element">
<h2>pwd 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>pwd</strong>                        
<br><strong>pwd</strong>(print working directory)<br>功能说明：显示工作目录。<br>语　　法：<strong>pwd</strong> [--help][--version]<br>补充说明：执行<strong>pwd</strong>指令可立刻得知您目前所在的工作目录的绝对路径名称。<br>参　　数：<br>  --help   在线帮助。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>