<div class="element">
<h2>quota 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>quota</strong>                        
<br>功能说明：显示磁盘已使用的空间与限制。<br>语　　法：<strong>quota</strong> [-quvV][用户名称...] 或 <strong>quota</strong> [-gqvV][群组名称...]<br>补充说明：执行<strong>quota</strong>指令，可查询磁盘空间的限制，并得知已使用多少空间。<br>参　　数：<br>  -g   列出群组的磁盘空间限制。<br>  -q   简明列表，只列出超过限制的部分。<br>  -u   列出用户的磁盘空间限制。<br>  -v   显示该用户或群组，在所有挂入系统的存储设备的空间限制。<br>  -V   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>