<div class="element">
<h2>rmdir 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>rmdir</strong>                        
<br><strong>rmdir</strong>(remove directory)<br>功能说明：删除目录。<br>语　　法：<strong>rmdir</strong> [-p][--help][--ignore-fail-on-non-empty][--verbose][--version][目录...]<br>补充说明：当有空目录要删除时，可使用<strong>rmdir</strong>指令。<br>参　　数：<br>  -p或--parents   删除指定目录后，若该目录的上层目录已变成空目录，则将其一并删除。<br>  --help   在线帮助。<br>  --ignore-fail-on-non-empty   忽略非空目录的错误信息。<br>  --verbose   显示指令执行过程。<br>  --version   显示版本信息。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>