<div class="element">
<h2>rmt 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>rmt</strong>                        
<br><strong>rmt</strong>(remote magnetic tape)<br>功能说明：远端磁带传输协议模块。<br>语　　法：<strong>rmt</strong><br>补充说明：通过<strong>rmt</strong>指令，用户可通过IPC连线，远端操控磁带机的倾倒和还原操作。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>