<div class="element">
<h2>stat 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>stat</strong>                        
<br><strong>stat</strong>(<strong>stat</strong>us)<br>功能说明：显示inode内容。<br>语　　法：<strong>stat</strong> [文件或目录]<br>补充说明：<strong>stat</strong>以文字的格式来显示inode的内容。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>