<div class="element">
<h2>swapoff 命令详情</h2>
                 <article> 
      <p> 
﻿<strong>swapoff</strong>                        
 <br>功能说明：关闭系统交换区(swap area)。<br>语　　法：<strong>swapoff</strong> [设备]<br>补充说明：<strong>swapoff</strong>实际上为swapon的符号连接，可用来关闭系统的交换区。<br>
</p>
                  </article>


</div>

<%=render "static_pages/navigation"%>