@import "bootstrap-sprockets";
@import "bootstrap"; 


/* universal */
header{
	background: RGB(218,165,32) ;
	.navbar-nav{
	}
	.navbar-nav>li>a {
		color : white;
		&:hover{
			color: RGB(184,134,11) ;
			text-decoration: none;
		}
	}
}


body {
	/*padding-top: 60px;*/
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1{
		margin-bottom: 10px;
	}
}


/* typography */

h1,h2,h3,h4,h5,h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2{
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $gray-light;
}

p{
	font-size: 1.1em;
	line-height: 1.7em;
}

/*header*/

#logo{
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover{
		color: RGB(255,215,0);
		text-decoration: none;
	}
}


/*footer*/

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: $gray-light;
	text-align: center;
	a {
		color: $gray;
		&:hover{
			color: $gray-darker;
		}
	}
	ul{
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;



/*sidebar*/

aside{
	section.user_indo{
		margin-top: 20px
	}
	section {
		padding: 10px 0;
		margin-top:20px;
		&:first-child{
			border:0;
			padding-top: 0;
		}
	}
	span{
		display: block;
		margin-bottom: 3px;
		line-height: 1;
	}
	h1{
		font-size: 1.4em;
		text-align: left;
		letter-spacing: -1px;
		margin-bottom: 3px;
		margin-top: 0px;
	}
}

.element{
	padding-top: 30px;
	padding-left: 10px;
	float: right;
	width: 80%;
	height: 500px;
	overflow: auto;

	h2{
		clor:grey;
		text-align: left;
		font-size: 2em;
		font-weight: bold;
		padding-bottom: 20px;
		border-bottom: dashed 2px;		
	}
	article{
		color: #666;
		padding-left: 10px;
	}
}


.nav-ele>li{
	border-radius:15px;
	line-height: 50px;
	font-size: 1.4em;
	display: inline;
	list-style: none;
	color:#666;
	margin:20px ;
	padding: 5px ;
	border-bottom-width:  1px;
	background: grey;
	&:hover{
		background: #aaa;
		color: #666;
	};

}

.nav-ele>li>a{
	color: white;
	padding:5px;
	margin:10px ;
	&:hover{
		background: #aaa;
		color: #666;
		text-decoration: none;
	};

}

.navigation{
	font-size: 1.2em;
	list-style: none;
	padding-top:20px;
	width:20%;
	li{
		color: white;
		margin:5px ;
		padding: 5px ;
		border-bottom-width:  1px;
		background:RGB(0,191,255);;
		&:hover{
		background: RGB(135,206,250);
		text-decoration: none;
	};
	}
	
}

.navigation>li>a{
	font-size: 1.2em;
	padding-top:20px;
	color: white;
	margin:5px ;
	padding: 5px ;
	&:hover{
		color: #666;
		text-decoration: none;
	};

}

.main{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	height: 500px;
}